@media only screen and (min-width: 991px) {
    .nav-container {
        width: 100%;
        background-color: var(--white);
        border-bottom: 2px var(--brand-green) solid;
    }
    .nav {
        display: flex;
        align-items: center;
        padding: 2rem;
    }
    .nav__title {
        font-family: var(--fancy-font);
        margin-right: 2rem;
    }
    .nav__links {
        display: flex;
    }
    .nav__link {
        text-transform: uppercase;
        font-weight: bold;
    }
    .nav__link a {
        color: var(--black);
    }
    .nav__link + .nav__link {
        margin-left: 2rem;
    }
    .nav__logo {
        margin-right: 2rem;
        height: 4rem;
    }
}