.products__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 var(--padding);
}

.products .hero__title {
    font-size: 3rem;
}

@media only screen and (min-width: 768px) {
    .products .hero-container {
        height: 300px;
    }
    .products .hero__title {
        font-size: 4rem;
    }

    .products .card-component {
        width: 45%;
        margin: 1rem;
    }

    .products .card-component__title {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 991px) {
    .products .card-component {
        width: 30%;
    }

    .products .card-component__image {
        min-height: 350px;
    }

    .products .card-component__title {
        font-size: 1.5rem;
    }
}