* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fancy-font: "Ravensara";
  --brand-green: #769576;
  --brand-beige: #EEEADE;
  --brand-grey: #D9D6D3;
  --brand-light-grey-1: #f2f2f2;
  --brand-light-grey: rgba(0, 0, 0, 0.5);
  --white: #FFF;
  --black: #000;
  --link: #007aff;
  --success: #14C59D;
  --error: #ff3b30;
  --padding: 1.5rem;
}

@font-face {
  font-family: 'Ravensara';
  src: local('Ravensara'), url(/src/fonts/Ravensara_sans_medium.otf)
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeade;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

